@use '_hero';
@use '_events';
@use 'components/_infos_bar';
@use 'components/_buttons';
@use '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: 80%;
    }

    @media (max-width: 1024px) {
        width: 90%;
    }
}

.section {
    padding: 80px 0;
    
    .container {
        display: flex;
        gap: 40px;

        @media (max-width: 640px) {
            display: block;
            margin: 0 auto;
            gap: 20px;
        }

        @media (max-width:1024px) {
            display: block;
            margin: 0 auto;
            gap: 30px;
        }
        
    }

    &__title {
        text-align: left;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.09px;
        margin-bottom: 16px;
    }
    &__text {
        color: #FFF;
        font-weight: 400;
        line-height: 22px;
    }
    &__image {
        width: 360px;
        margin-top: 21px;

        @media (max-width: 640px) {
            width: 100%;
        }

        @media (max-width: 1024px) {
            width: 100%;
        }
    }
}